@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 192 53% 89%;
    --foreground: 210 22% 21%;
    --card: 192 50% 95%;
    --card-foreground: 210 22% 21%;
    --popover: 192 50% 95%;
    --popover-foreground: 210 22% 21%;
    --primary: 207 100% 15%;
    --primary-foreground: 0 0% 98%;
    --secondary: 207 40% 90%;
    --secondary-foreground: 207 100% 15%;
    --muted: 207 40% 92%;
    --muted-foreground: 210 15% 45%;
    --accent: 207 40% 94%;
    --accent-foreground: 207 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 30% 80%;
    --input: 0 0% 100%;
    --ring: 207 100% 15%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 207 100% 10%;
    --foreground: 0 0% 98%;
    --card: 207 100% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 207 100% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 192 53% 89%;
    --primary-foreground: 207 100% 15%;
    --secondary: 207 100% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 207 100% 20%;
    --muted-foreground: 207 10% 65%;
    --accent: 207 100% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 100% 25%;
    --input: 207 100% 20%;
    --ring: 192 53% 89%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
